<span style="position: fixed;right: 10px;top: 10px;z-index: 10"></span>
<span style="position: fixed;right: 10px;top: 30px;z-index: 10;color: #ffffff"></span>
<div id="scrollbar-ref"></div>
<div id="wrapper">
  <div class="parent one">
    <div class="child one">
      <!--            <div class="title light">HELLO WORLD</div>-->
    </div>
  </div>
  <div class="parent one">
    <div class="child one filter">
      <div class="title">HELLO<br/>WORLD</div>
    </div>
  </div>
  <div class="parent two">
    <div class="child two">
      <!--<div class="title light">HULK</div>-->
    </div>
  </div>
  <div class="parent two">
    <div class="child two filter">
      <div class="title">GOOD<br/>MORNING</div>
    </div>
  </div>
  <div class="parent three">
    <div class="child three">
      <!--<div class="title light">CAPTAIN<br/>AMERICA</div>-->
    </div>
  </div>
  <div class="parent three">
    <div class="child three filter">
      <div class="title">HAVE<br/>A<br/>NICE DAY</div>
    </div>
  </div>
</div>
