<div class="wrapper">
  <div class="time-line">
    <div class="time-line-path-container">
      <svg width="290.96" height="2593" viewBox="0 0 290.96 2593" id="svg-path">
        <defs>
          <style>
            .cls-1 {
              fill: none;
              stroke: #d8d9d9;
              stroke-width: 2px;
              fill-rule: evenodd;
            }
          </style>
        </defs>
        <path id="time-line-path" class="cls-1"
              d="M 128,0 c-0.5,199.31,130.08,444.14-39,641-166,193.28-69,452.08,72,584,221.15,206.91,106.5,474.95,16,591-222.97,285.92-38.36,423.84-46,775"></path>
      </svg>
    </div>
    <div class="time-line-item-wrapper">
      <div class="time-line-item">
        <div class="bullet-point">
          <div></div>
        </div>
        <div class="item-content">
          <div>Hello World !!<br/> This is First post.</div>
        </div>
      </div>
    </div>
    <div class="time-line-item-wrapper">
      <div class="time-line-item">
        <div class="bullet-point">
          <div></div>
        </div>
        <div class="item-content">
          <h1>Good Morning All !!<br/> Have a nice day</h1>
        </div>
      </div>
    </div>
    <div class="time-line-item-wrapper">
      <div class="time-line-item">
        <div class="bullet-point">
          <div></div>
        </div>
        <div class="item-content">
          <h2>Good Evening !!<br/> Keep Smiling :)</h2>
        </div>
      </div>
    </div>
    <div class="time-line-item-wrapper">
      <div class="time-line-item">
        <div class="bullet-point">
          <div></div>
        </div>
        <div class="item-content">
          <h4>Good Evening !!<br/> Keep Smiling :)</h4>
        </div>
      </div>
    </div>
    <div class="time-line-item-wrapper">
      <div class="time-line-item">
        <div class="bullet-point">
          <div></div>
        </div>
        <div class="item-content">
          <h3>Good Evening !!<br/> Keep Smiling :)</h3>
        </div>
      </div>
    </div>
    <div class="time-line-item-wrapper">
      <div class="time-line-item">
        <div class="bullet-point">
          <div></div>
        </div>
        <div class="item-content">
          <div>Hello World !!<br/> This is First post.</div>
        </div>
      </div>
    </div>
    <div class="time-line-item-wrapper">
      <div class="time-line-item">
        <div class="bullet-point">
          <div></div>
        </div>
        <div class="item-content">
          <h1>Good Morning All !!<br/> Have a nice day</h1>
        </div>
      </div>
    </div>
    <div class="time-line-item-wrapper">
      <div class="time-line-item">
        <div class="bullet-point">
          <div></div>
        </div>
        <div class="item-content">
          <h2>Good Evening !!<br/> Keep Smiling :)</h2>
        </div>
      </div>
    </div>
    <div class="time-line-item-wrapper">
      <div class="time-line-item">
        <div class="bullet-point">
          <div></div>
        </div>
        <div class="item-content">
          <h4>Good Evening !!<br/> Keep Smiling :)</h4>
        </div>
      </div>
    </div>
    <div class="time-line-item-wrapper">
      <div class="time-line-item">
        <div class="bullet-point">
          <div></div>
        </div>
        <div class="item-content">
          <h3>Good Evening !!<br/> Keep Smiling :)</h3>
        </div>
      </div>
    </div>
    <div class="time-line-path-container">
      <svg width="290.96" height="2593" viewBox="0 0 290.96 2593" id="svg-path-ref">
        <defs>
          <style>
            .cls-1 {
              fill: none;
              stroke: #d8d9d9;
              stroke-width: 3px;
              fill-rule: evenodd;
            }
          </style>
        </defs>
        <path id="time-line-path-ref" class="cls-1"
              d="M 128,0 c-0.5,199.31,130.08,444.14-39,641-166,193.28-69,452.08,72,584,221.15,206.91,106.5,474.95,16,591-222.97,285.92-38.36,423.84-46,775"></path>
      </svg>
    </div>
    <div class="controls">
      <label for="value-ctrl">Change top offset here : </label>
      <input type="number" id="value-ctrl" value="0" step="10">
    </div>
  </div>
</div>
